<h3>Dati gioco:</h3>

<form>
    <div class="col-md-10">
      <label for="nome_gioco">Nome Gioco</label>
      <input type="text" class="form-control" id="nome_gioco"  placeholder="Inserire nome del gioco">
</div>
<div class="col-md-10">
      <label for="nome_studio">Nome Studio</label>
      <input type="text" class="form-control" id="nome_studio"  placeholder="Inserire nome dello studio produttore del gioco">
</div>
<div class="col-md-10">
  <label for="data_uscita">data uscita</label>
  <input type="text" class="form-control" id="data_uscita"  placeholder="Inserire l'anno d'uscita del gioco">
</div>
    <div class="col-md-10">
      <label for="prezzo">Prezzo</label>
      <input type="text" class="form-control" id="prezzo" placeholder="Prezzo del gioco a copia singola">
    </div>
    <div class="col-md-10">
        <label for="quantita">Quantita</label>
        <input type="text" class="form-control" id="quantita" placeholder=" Quantita del gioco in negozio">
      </div><br>

<h3>Dati Negozio:</h3>

      <div class="col-md-10">
        <label for="indirizzo_shops">indirizzo Del Negozio</label>
        <input type="text" class="form-control" id="indirizzo_shops" placeholder="indirizzo Del Negozio">
      </div>
      <div class="col-md-10">
        <label for="citta">citta</label>
        <input type="text" class="form-control" id="citta_shops" placeholder="citta in cui si trova il negozio">
      </div>
      <div class="col-md-10">
        <label for="telefono">telofono</label>
        <input type="text" class="form-control" id="telefono" placeholder="telofono del negozio">
      </div>
     <br>
    <a routerLink="/"><button type="submit" class="btn btn-primary">Submit</button> </a>
  </form>

 
 
  

