<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body class="bg-dark " >
  
  <div class="container-fluid" >
    <input #box  placeholder="Inserisci la via del Shop" (keydown)="onKey(box.value)" class="form-control mt-3 mb-3" >
    <p *ngIf="loading">LOADING...</p>
  
    <table *ngIf="!loading && Shops.length >= 1" class="table table-dark" >
     
        <thead class="text-success">
          <th>Id</th>
          <th>Telefono</th>
          <th>Indirizzo</th>
          <th>Città</th>
          <th>Selezione</th>
          
          
        </thead>
        <tbody class="text-success">
          <tr *ngFor="let s of Shops">
           
            <td>{{s.id_shop}}</td>
            <td>{{ s.telefono_shops }}</td>
            <td>{{ s.indirizzo_shops }}</td>
            <td>{{ s.citta}}</td>
            <a routerLink="/giochishop/{{s.id_shop}}"><input class="btn btn-success" type="button" value="Input"  ></a>
            <router-outlet></router-outlet>
           
           
          </tr>
      </tbody>
    </table>
    <div class="alert alert-danger" *ngIf="Shops.length < 1">Errore negozio non trovato</div>
  </div>
    

</body>
</html>
