<table *ngIf="GiochiLoc.length >= 1" class="table table-dark">

    <thead class="text-success">
      <th>Id</th>
      <th>Nome</th>
      <th>Console</th>
      <th>Prezzo</th>
      <th>Genere</th>
      
     


    </thead>
    <tbody class="text-success">
      <tr *ngFor="let s of GiochiLoc">
        <td>{{ s.id_shop }}</td>

        <td>{{ s.nome }}</td>
        <td>{{ s.console}}</td>
        <td>{{ s.prezzo}}</td>
        <td>{{ s.genres }}</td>
    
        
       
      </tr>
    </tbody>
  </table>
