<table *ngIf="GiochiLoc.length >= 1" class="table table-dark">

    <thead class="text-success">
      <th>Id</th>
      <th>Nome</th>
      <th>Console</th>
      <th>Prezzo</th>
      <th>Genere</th>
      
     


    </thead>
    <tbody class="text-success">
      <tr *ngFor="let s of GiochiLoc">
        <td id="s-id">{{ s.id_shop }}</td>

        <td id="nome">{{ s.nome }}</td>
        <td id="console">{{ s.console}}</td>
        <td id="prezzo">{{ s.prezzo}}</td>
        <td id="genres">{{ s.genres }}</td>
    
        
       
      </tr>
    </tbody>
    <button class="btn btn-success" type="submit" (click)="send()">Send</button>
  </table>
