<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid">
    <input #box (keydown)="onKey(box.value)" class="form-control mt-3 mb-3">
    <p *ngIf="loading">LOADING...</p>
  
    <table *ngIf="!loading && staffs.length > 1" class="table table-striped">
      <thead>
        <th>id_game</th>
        <th>nome</th>
        <th>studio</th>
        <th>prezzo</th>
        <th>anno_uscita</th>
        
      </thead>
      <tbody>
        <tr *ngFor="let s of staffs">
          <td>{{ s.id_game }}</td>
          <td>{{ s.nome }}</td>
          <td>{{ s.studio }}</td>
          <td>{{ s.prezzo}}</td>
          <td>{{ s.anno_uscita }}</td>
         
        </tr>
      </tbody>
    </table>
    <div class="alert alert-danger" *ngIf="staffs.length < 1">Error, no staff found in this store</div>
  </div>
    
</body>
</html>