<form  [formGroup]="addShopForm" (ngSubmit)="onShopCreate()" >
    
    <div class="col-md-10">
        <label for="telefono">Telefono</label>
        <input type="text" class="form-control" id="telefono" placeholder="Inserire il numero di telefono del negozio" name="telefono"
            formControlName="phone" maxlength="10">
    </div>

    <div class="col-md-10">
        <label for="via">Via</label>
        <input type="text" class="form-control" id="via" placeholder="Inserire la via del negozio" name="via"
            formControlName="via" >
    </div>

        <div class="col-md-10">
        <label for="citta">Città</label>
        <input type="text" class="form-control" id="citta" placeholder="Inserire la città" name="citta"
            formControlName="city">
    </div>
    
    <br>

    <!-- <a routerLink="/negozio"><input class="btn btn-success" type="button" value="Aggiungi" [disabled]="!addShopForm.valid"></a>-->
     <button type="submit" class="btn btn-primary" [disabled]="!addShopForm.valid">Submit</button> 
</form>
<!-- funziona-->

